#q {
  /* height: 93bh; */
  width: 186vh;
  margin: 0;
  padding: 20px;
  top: 6vh;
  left: 0;
  z-index: 20;
  position: fixed;
  background-color: #636363;
  cursor: default;
  overflow: hidden;
  -moz-transition : height 0.5s;
  -webkit-transition : height 0.5s;
  -o-transition : height 0.5s;
  transition : height 0.5s;
  color: #FFCE2B;
}

h3 {
  color: #eea236;
}

.logout {
  float: left;
  height: 40px;
}
.icon {
  float: right;
  height: 40px;
  margin-right: 20px;
}

.close {
  /* float: right; */
  /* display: ; */
  color: #FFCE2B;
  opacity: 0.65;
  text-shadow: 0 1px 0 #636363;
}

.close:hover {
  opacity: 1;
}
