#paper {
  position: absolute;
  width: calc(100vw - 100px);
  height: 94vh;
  top: 0;
  left: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.editClass {
  z-index: 10;
  position: absolute;
  width: 27vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 73vw;
}

.toolbar {
  position: absolute;
  width: 100px;
  height: 94vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border-right: 1px solid black;
}
