<div class="dropdown" #menuModifica>
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Modifica
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" >Annulla</a></li>
    <li><a href="#" >Ripristina</a></li>
    <li><a href="#" >Taglia</a></li>
    <li><a href="#" >Copia</a></li>
    <li><a href="#">Incolla</a></li>
    <li><a href="#">Elimina</a></li>
    <li><a href="#"  (click)="doZoomIn()" >Zoom In</a></li>
    <li><a href="#"  (click)="doZoomOut()" >Zoom Out</a></li>
  </ul>
</div>
