<div class="dropdown" #menuModifica>
  <button class="btn btn-default dropdown-toggle tmp-disable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Modifica
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a (click)="doUndo()" >Annulla</a></li>
    <li><a  >Ripristina</a></li>
    <li><a (click)="doCut()" >Taglia</a></li>
    <li><a  (click)="doCopy()" >Copia</a></li>
    <li><a  (click)="doPaste()" >Incolla</a></li>
    <li><a (click)="doElimina()" >Elimina</a></li>
    <li><a  (click)="doZoomIn()" >Zoom In</a></li>
    <li><a  (click)="doZoomOut()" >Zoom Out</a></li>
  </ul>
</div>
