<div class="container-fluid menu">
  <div class="row selezionato">
    <span class="glyphicon glyphicon-wrench iconaMirrow" aria-hidden="true"></span>{{name}}
    <button class="btn btn-default" (click)="removeClass(name)" title="Rimuovi classe">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
  <div class="row changeNome">
    Modifica nome:
    <input #changeName id="changeName"
    (keyup.enter)="changeNome(changeName.value)">
    <button class="btn btn-default" (click)="changeNome(changeName.value)">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
  </div>
  <!-- div per aggiungere un attributo -->
  <div class="aggiungiAttributo">
    <div class="row">
      <button href="#addAttr" class="btn btn-default" data-toggle="collapse">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Aggiungi Attributo
      </button>
    </div>
    <div id="addAttr" class="campiAttributo collapse">
      <div class="aggiungiAttributo staticAttr">
        <label>Static <input #checkStaticAtt type="checkbox" name="static" class="checkbox-circle" value="Stiatic" /></label>
      </div>
      <div class="aggiungiAttributo accessoAttr">
        <label>Seleziona Visibilità</label>
        <select #accAtt  [(ngModel)]="selectedAccAtt">
          <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
        </select>
      </div>
      <div class="aggiungiAttributo selezionaTipo">
        <label>Seleziona tipo</label>
        <select #tipiAtt [(ngModel)]="selectedTipoAtt">
          <option value=""></option>
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
      </div>
      <div class="aggiungiAttributo nomeAttr">
        <label>Nome</label>
        <input [disabled]="!selectedTipoAtt" id="nome-attributo" #nomeAtt
        (keyup.enter)="addAttributo(nomeAtt.value)">
      </div>
      <button class="btn btn-default" [disabled]="!selectedTipoAtt" (click)="addAttributo(nomeAtt.value, checkStaticAtt.checked, tipiAtt.value, accAtt.value)">Aggiungi Attributo</button>
    </div>

  </div>
  <button href="#listaAttr" #lista class="btn btn-default listaAttr" data-toggle="collapse" (click)="closeCollapsedList(lista)">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Lista Attributi
  </button>
  <!-- lista attributi della classe -->
  <div *ngIf="this.mainEditorService.selectedClasse" class="container listaAttributi">
    <div id="listaAttr" class="row collapse" *ngIf="name">
      Lista attributi
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let attr of this.mainEditorService.selectedClasse.getAttributi()">
          <span>{{attr.name}}: {{attr.type}}
            <button class="btn btn-default" (click)="removeAttributo(attr.name)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Rimuovi"></span>
            </button>
            <!-- icona di modifica che farà apparire un menù a tendina per la modifica attributo-->
            <button class="btn btn-default" data-toggle="collapse" [attr.data-target]="'#'+attr.name" title="Modifica">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Modifica"></span>
            </button>
          </span>
          <!-- menù a comparsa (collapse) per modificare un attributo-->
          <div class="campiAttributo collapse" attr.id="{{attr.name}}">
            <div class="modificaAttributo accessoAttr">
              <div class="aggiungiAttributo staticAttr">
                <label>Static <input #checkStaticAtt type="checkbox" name="static" class=".checkbox-circle" value="Stiatic" /></label>
              </div>
              <label>Seleziona Visibilità</label>
              <select  [(ngModel)]="selectedAccAtt">
                <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
              </select>
            </div>
            <div class="modificaAttributo selezionaTipo">
              <label>Seleziona tipo</label>
              <select #tipi [(ngModel)]="selectedTipoAtt">
                <option value=""></option>
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </div>
            <div class="modificaAttributo nomeAttr">
              <label>Nome</label>
              <input [disabled]="!selectedTipoAtt" id="nome-attributo" #nomeAtt
              (keyup.enter)="changeAttributo(nomeAtt.value, attr.name)">
            </div>
            <button class="btn btn-default" [disabled]="!selectedTipoAtt" (click)="changeAttributo(nomeAtt.value, attr.name)">Modifica Attributo</button>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- blocco per aggiungere un metodo alla classe -->
  <div class="aggiungiMetodo">
    <div class="row">
      <button href="#addMetodo" class="btn btn-default" data-toggle="collapse">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Aggiungi Metodo
      </button>
    </div>
    <div id="addMetodo" class="campiMetodo collapse">
      <!-- blocco per aggiunta parametri metodo -->
      <div class="aggiungiMetodo .selezionaTipo">
        <div class="aggiungiAttributo staticAttr">
          <label>Static <input #staticMet type="checkbox" id="static" name="static" classe="checkbox-circle" value="Stiatic" (change)='updateCheckbox(staticMet.id)'></label>
          <label> Costruttore <input #constructor [(ngModel)]="costruttore" type="checkbox" id="constructor" name="constructor" classe="checkbox-circle" value="Constructor" (change)='updateCheckbox(constructor.id)'></label>
        </div>
        <div class="aggiungiMeotdo accessoMetodo">
          <label>Seleziona Visibilità</label>
          <select #accMetodo [(ngModel)]="selectedAccMet">
            <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
          </select>
        </div>
        <div [hidden]="costruttore">
          <label>Seleziona tipo di ritorno</label>
          <select #tipiMetodo [(ngModel)]="selectedTipoMet">
            <option value="void"></option>
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
          </select>
        </div>
      </div>
      <div [hidden]="costruttore" class="aggiungiMetodo nomeMet">
        <label>Nome</label>
        <input [disabled]="!selectedTipoMet" id="nome-metodo" #nomeMetodo>
      </div>
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-md-12 column" id="tabellaParametri">
            Parametri attuali
            <table class="table table-bordered table-hover" id="tab_logic">
              <thead>
                <tr>
                  <th class="text-center">Tipo</th>        
                  <th class="text-center">Nome</th>          
                  <th class="text-center"></th>                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let param of parametriMetodo" class="tipiMetodo">
                  <td>{{param.getTipo()}}</td>
                  <td>{{param.getNome()}}</td>
                </tr>
                <tr #parametro>
                  <td>
                    <select #tipiParam class="tipiMetodo">
                      <option value=""></option>
                      <option *ngFor="let type of types" [value]="type">{{type}}</option>
                    </select>
                  </td>
                  <td>
                    <input #nomeParam type="text" placeholder="Nome" class="form-control"/>
                  </td>
                  <td>
                    <button class="btn btn-default" title="Aggiungi Parmetro" (click)="addParam(tipiParam.value, nomeParam.value)">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button class="btn btn-default" [disabled]="isAddableMethod()" (click)="addMetodo(nomeMetodo.value, staticMet.checked, constructor.checked, tipiMetodo.value, accMetodo.value)">Aggiungi Metodo</button>
    </div>   
  </div>
  <button href="#listaMet" #listac class="btn btn-default" data-toggle="collapse" (click)='closeCollapsedList(listac)'>
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Lista Metodi
  </button>
  <!-- lista metodi della classe -->
  <div *ngIf="this.mainEditorService.selectedClasse" class="container listaAttributi">
    <div id="listaMet" class="row collapse" *ngIf="name">
      Lista metodi
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let met of getMetodi()">
          <span>{{met.accesso}} {{met.staticString()}} {{met.nome}}({{met.paramToString()}}): {{met.tipoRitorno}}
            <button class="btn btn-default" (click)="removeMetodo(met.nome)">
               <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Rimuovi"></span>
            </button>
            <button class="btn btn-default" (click)="modifyMetodo(met.nome)" title="Modifica">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Modifica"></span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
