<div class="container-fluid menu">

  <div class="row selezionato">
    <span class="glyphicon glyphicon-wrench iconaMirrow" aria-hidden="true"></span> {{name}}
  </div>
  <div class="row changeNome">
    Modifica nome:
    <input #changeName id="changeName"
    (keyup.enter)="changeNome(changeName.value)">
    <button class="btn btn-default" (click)="changeNome(changeName.value)">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
  </div>
  <!-- div per aggiungere un attributo -->
  <div class="aggiungiAttributo">
    <!-- <span [hidden]="!nomeAttributoUguale">Il nome inserito per l'attributo è già esistente <br /></span> -->
    <div class="row">
      <button href="#addAttr" class="btn btn-default" data-toggle="collapse">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Aggiungi Attributo
      </button>
    </div>
    <div id="addAttr" class="campiAttributo collapse">
      <div class="aggiungiAttributo staticAttr">
        <label>Static <input type="checkbox" name="static" classe="checkbox-circle" value="Stiatic"></label>
      </div>
      <div class="aggiungiAttributo accessoAttr">
        <label>Seleziona Visibilità</label>
        <select  [(ngModel)]="selectedAccAtt">
          <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
        </select>
      </div>
      <div class="aggiungiAttributo selezionaTipo">
        <label>Seleziona tipo</label>
        <select #tipi [(ngModel)]="selectedTipoAtt">
          <option value=""></option>
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
      </div>
      <div class="aggiungiAttributo nomeAttr">
        <label>Nome</label>
        <input [disabled]="!selectedTipoAtt" id="nome-attributo" #nomeAtt
        (keyup.enter)="addAttributo(nomeAtt.value)">
      </div>
      <button class="btn btn-default" [disabled]="!selectedTipoAtt" (click)="addAttributo(nomeAtt.value)">Aggiungi Attributo</button>
    </div>

  </div>
  <button href="#listaAttr" class="btn btn-default" data-toggle="collapse">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Lista Attributi
  </button>
  <!-- lista attributi della classe -->
  <div *ngIf="this.mainEditorService.selectedClasse" class="container listaAttributi">
    <div id="listaAttr" class="row collapse" *ngIf="name">
      <h5>Lista Attributi</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let attr of this.mainEditorService.selectedClasse.getAttributi()">
          <span>{{attr.name}}: {{attr.type}}
            <button class="btn btn-default" (click)="removeAttributo(attr.name)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Rimuovi"></span>
            </button>
            <!-- menù a tendina di modifica attributo-->
            <button class="btn btn-default" data-toggle="collapse" [attr.data-target]="'#'+attr.name" (click)="modAttribute(attr.name)" title="Modifica">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Modifica"></span>
            </button>
          </span>
          <!-- menù a comparsa (collapse) per modificare un attributo-->
          <div class="campiAttributo collapse" attr.id="{{attr.name}}">
            <div class="aggiungiAttributo staticAttr">
              <label>Static <input type="checkbox" name="static" classe="checkbox-circle" value="Stiatic"></label>
              <label>Costruttore <input type="checkbox" name="static" classe="checkbox-circle" value="Constructor"></label>
            </div>
            <div class="modificaAttributo accessoAttr">
              <label>Seleziona Visibilità</label>
              <select  [(ngModel)]="selectedAccAtt">
                <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
              </select>
            </div>
            <div class="modificaAttributo .selezionaTipo">
              <label>Seleziona tipo</label>
              <select #tipi [(ngModel)]="selectedTipoAtt">
                <option value=""></option>
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </div>
            <div class="modificaAttributo nomeAttr">
              <label>Nome</label>
              <input [disabled]="!selectedTipoAtt" id="nome-attributo" #nomeAtt
              (keyup.enter)="changeAttributo(nomeAtt.value)">
            </div>
            <button class="btn btn-default" [disabled]="!selectedTipoAtt" (click)="changeAttributo(nomeAtt.value)">Modifica Attributo</button>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- blocco per aggiungere un metodo alla classe -->
  <div class="aggiungiMetodo">
    <div class="row">
      <button href="#addMetodo" class="btn btn-default" data-toggle="collapse">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Aggiungi Metodo
      </button>
    </div>
    <div id="addMetodo" class="campiMetodo collapse">
      <!-- lista metodi della classe -->
      <div *ngIf="this.mainEditorService.selectedClasse" class="container listaMetodi">
        <div  class="row" *ngIf="name">
          <h5>Lista Metodi</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let met of this.mainEditorService.selectedClasse.getMetodi()">
              <span>{{met.accesso}} &nbsp; {{met.nome}}(): {{met.tipoRitorno}}
                <button class="btn btn-default" (click)="removeMetodo(met.nome)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Rimuovi"></span>
                </button>
                <button class="btn btn-default" (click)="modifyMetodo(met.nome)" title="Modifica">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Modifica"></span>
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <!-- blocco per aggiunta parametri metodo -->
      <div class="aggiungiMetodo .selezionaTipo">
        <div class="aggiungiMeotdo accessoMetodo">
          <label>Seleziona Visibilità</label>
          <select #accMetodo [(ngModel)]="selectedAccMet">
            <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
          </select>
        </div>
        <label>Seleziona tipo di ritorno</label>
        <select #tipiMetodo [(ngModel)]="selectedTipoMet">
          <option value="void"></option>
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
      </div>
      <div class="aggiungiMetodo nomeMet">
        <label>Nome</label>
        <input [disabled]="!selectedTipoMet" id="nome-metodo" #nomeMetodo>
      </div>
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-md-12 column">
            Parametri attuali
            <table class="table table-bordered table-hover" id="tab_logic">
              <thead>
                <tr>
                  <th class="text-center">
                    Tipo
                  </th>
                  <th class="text-center">
                    Nome
                  </th>
                  <th class="text-center">
                    
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr #parametro>
                  <td>
                    <select #tipi class="tipiMetodo">
                      <option value=""></option>
                      <option *ngFor="let type of types" [value]="type">{{type}}</option>
                    </select>
                  </td>
                  <td>
                    <input #nome type="text" placeholder="Nome" class="form-control"/>
                  </td>
                  <td>
                    <button class="btn btn-default" title="Aggiungi Parmetro" (click)="aggiungiParam()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <button class="btn btn-default" [disabled]="!selectedTipoMet" (click)="addMetodo(nomeMetodo.value)">Aggiungi Metodo</button>
    </div>

  </div>
</div>
