.menu {
  background-color: #EAEAF1;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-top: none;
}

.row {
  padding: 3% 0;
  border-top: 1px solid black;
}
.selezionato {
  /*font-size: 16px;*/
  border-top: none;
}

.campiAttributo {
  padding-bottom: 3%;
}

.iconaMirrow {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.aggiungiAttributo {
  display: block;
}

#listaAttr {
  padding-bottom: 2%;
  border-bottom: 1px solid black;
  border-top: none;
}

.listaAttributi {
  position: absolute;
  background-color: #EAEAF1;
  top: 0;
  left: -100%;
  z-index: 10;
  max-width: 100%;
  border-left: 1px solid black;
}

.listaAttributi ul {
  margin-bottom: 0;
}

#listaMet {
  /*padding-bottom: 2%;*/
  border-bottom: 1px solid black;
  border-top: none;
}

/*velocità di animazione del menù della lista attributi*/
.collapsing {
    transition: height 0.1s;
}

.tipiMetodo {
  vertical-align: -webkit-baseline-middle;
}

#tabellaParametri {
  max-height:200px;
  overflow:auto;
}
