 <div class="container col-xs-6 col-md-4">
  <div class="sub-container">
    <div class="row" >      
      <img src="assets/images/logo.png" alt="logo" class="col-xs-6" />
      <span id="content" class="text hide"> SWEDesigner </span>
    </div> 
    <div class="box">  
      <h2>Login</h2>
      <form name="form" (submit)="loginUser($event)">
        <div class="form-group" >
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" required placeholder="Email"/>
          <!-- <div class="help-block">Email is required</div> -->
           </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required placeholder="Password"/>
              <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
               </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Login"/> 
                  <!-- [routerLink]="['/editor']" -->
                  <a [routerLink]="['/registrazione']" class="btn btn-link" (click)='refresh()'>Registrati</a>
                  <a [routerLink]="['/password dimenticata']" class="btn btn-link" (click)='refresh()'>Password dimenticata</a>
                </div>
              </form>
            </div>    
          </div>
        </div> 
