@import url('https://fonts.googleapis.com/css?family=Neuton');

.container {
    position:absolute;
    top:40%;
    left:50%;
    padding: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.row {
    margin: 0;
}

img {  
    padding: 0;
    margin-left: 25%;
    max-height: 150px;
    max-width: 150px;
}

.logo {
    margin-left: 0; 
    max-height: 100px;
    max-width: 100px; 
    transform-origin: left top; 
    animation: scale 800ms ease-in-out forwards; 
    
}

@keyframes scale {
    to {
        transform: scale(0.6);
    }
}

.rotate360 {
    transition: all 0.7s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);
}

.hide {
    display: none;
}

.box {
    min-height: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;    
}

.active {
    max-height: 100%;
    opacity: 1;
}

.text{
    font-family: 'Neuton', serif;
    color: rgb(238,117,0);
    color: rgb(255, 195, 76);
    font-size: 35px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(129,161,184);
}   
