.container {
    position:absolute; 
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

img {  
    /* display: inline-block; */
    margin-left: 25%;    
}

.rotate360 {
    transition: all 0.7s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);
}

.text {
    font-family: serif;
    font-size: large;
}

.hide {
    display: none;
}

.box {
    min-height: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    
}

.active {
    max-height: 100%;
    opacity: 1;
}

span{
    margin: 0;
    padding: 0;
    width: 100%;
}

.glow{
    font-family: 'Arvo', serif;
    font-weight: 300;
    color: orange;
    font-size: 105px;
    /* margin-left: auto;
    margin-right: auto; */
    position: absolute; 
    top: -40%;
    left: -25%;
    
}