<div [hidden]="mainEditorService.getActivityModeStatus()" class="container-fluid toolbar classi">
  <div class="tipo"> Classi </div>
    <div class="icona"><button (click)="addClasse()" class="add addClasse" title="Aggiungi classe"></button></div>
    <div class="icona"><button (click)="addInterfaccia()" class="add addInterfaccia" title="Aggiungi interfaccia"></button></div>
    <div class="icona"><button (click)="addAstratta()" class="add addAstratta" title="Aggiungi classe astratta"></button></div>

  <div class="tipo"> Connettori </div>
    <div class="icona"><button (click)="addImplementazione()" class="add addImplementazione freccia" title="Aggiungi implementazione"></button></div>
    <div class="icona"><button (click)="addGeneralizzazione()" class="add addGeneralizzazione freccia" title="Aggiungi generalizzazione"></button></div>

  <div class="tipo"> Commenti </div>
    <div class="icona"><button (click)="addCommento()" class="add addCommento" title="Agiungi commento"></button></div>
    <div class="icona"><button (click)="addAssociazione()" class="add addAssociazione freccia" title="Aggiungi associazione"></button></div>
</div>
<div [hidden]="!mainEditorService.getActivityModeStatus()" class="container-fluid toolbar activity">
  <div class="tipo"> Activity </div>
    <div class="icona"><button [disabled]="this.activityService.start()" (click)="addStart()" class="add addStart" title="Aggiungi start"></button></div>
    <div class="icona"><button [disabled]="this.activityService.end()" (click)="addEnd()" class="add addEnd" title="Aggiungi End"></button></div>
    <div class="icona"><button (click)="addActivityShape()" class="add addAttivita" title="Aggiungi azione"></button></div>
    <div class="icona"><button (click)="addActivityForShape()" class="add addAttivitaFor" title="Richiama l'attività/azione "></button></div>
    <div class="icona"><button (click)="addRettangoloAngolo()" class="add addRettangoloAngolo" title="Aggiungi attività "></button></div>
    <div class="icona"><button (click)="addConnector()" class="add addConnettore" title="Aggiungi connettore"></button></div>
    <div class="icona"><button (click)="addDecision()" class="add addDecision" title="Aggiungi decisione"></button></div>
    <div class="icona"><button (click)="addEndDecision()" class="add addEndDecision" title="Aggiungi fine decisione"></button></div>
</div>
