.container {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}

.collapsing {
  transition: height 0.01s;
}

#listaMetodi {
  position: fixed;
  left: 46vw;
  top: 6vh;
  width: 27vw;
  background-color: dimgrey;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

li {
  border: 1px solid darkgoldenrod;
}
