.container {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid white;
  width: 100%;
}

.collapsing {
  transition: height 0.01s;
}

#listaMetodi {
  position: fixed;
  left: 46vw;
  top: 6vh;
  width: 27vw;
  background-color: dimgrey;
  /* border-left: 1px solid black;
  border-bottom: 1px solid black; */
}

ul {
  padding: 5px;
  margin-bottom: 0px;
}

li {
  border: 1px solid darkgoldenrod;
}

li button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 5px;
  /* float: right; */
}

.text {
  font-size: 10px;
}

.titolo {
  margin: auto 5px;
  color: darkorange;
}

.list {
  margin-bottom: 10px;
}
