@import url('https://fonts.googleapis.com/css?family=Neuton');

.container {
    position:absolute;
    top:40%;
    left:-100%;
    padding: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.row {
    margin: 0;
}

img {  
    padding: 0;
    margin-left: 0;
    max-height: 60px;
    max-width: 60px;
}

.text{
    font-family: 'Neuton', serif;
    color: rgb(238,117,0);
    color: rgb(255, 195, 76);
    font-size: 40px;
    font-weight:400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(129,161,184);
    opacity: .9;
}   

#submit {
    float: left;
}

#back {
    float: right;
}

.ng-invalid:not(form)  {
  border-right: 5px solid crimson; /* red */
}

.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid springgreen; /* green */
}