<div class="container">
  <button class="btn btn-warning" data-toggle="collapse" data-target="#aggiungiMetodo">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp; Aggiungi Metodo
  </button>
  <div id="aggiungiMetodo" class="collapse">
    <div>
      <!-- checkbox -->
      <div class="checkboxContainer">
        <input id="staticMet" type="checkbox" (change)='justOneCheckbox(staticMet.id)' #staticMet/>
        <label for="staticMet"> Static </label>
      </div>
      <div class="checkboxContainer">
        <input id="constructor" type="checkbox" (change)='justOneCheckbox(constructor.id)' #constructor [(ngModel)]="costruttore"/>
        <label for="constructor"> Costruttore </label>
      </div>
    </div>
    <!-- visibilità -->
    <div>
      <label>Seleziona Visibilità</label>
      <select #accessoMetodo  [(ngModel)]="this.classMenuService.selectedAccMet">
        <option *ngFor="let accesso of this.classMenuService.accessoAttr" [value]="accesso">{{ accesso }}</option>
      </select>
    </div>
    <!-- tipo di ritorno -->
    <div [hidden]="this.classMenuService.costruttore">
      <label>Seleziona tipo di ritorno</label>
      <select #tipiMetodo [(ngModel)]="this.classMenuService.selectedTipoMet">
        <option *ngFor="let type of this.classMenuService.MethodTypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <!-- nome metodo -->
    <div class="nomeMetodo" [hidden]="this.classMenuService.costruttore">
      <label>Nome</label>
      <input [disabled]="!this.classMenuService.selectedTipoMet" id="nomeMetodo" [(ngModel)]="this.classMenuService.nomeMet" #nomeMetodo>
    </div>
    <!-- Parametri attuali -->
    <div class="tabella">
      Parametri attuali
      <table class="table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of this.classMenuService.parametriMetodo" class="display">
            <td>{{param.getTipo()}}</td>
            <td>{{param.getNome()}}
              <button class="btn btn-warning remove" type="button" (click)="removeParam(param.getTipo(),param.getNome())">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          <tr class="warning" #parametro>
            <td>
              <select #tipiParam id="tipiParam" >
                <option *ngFor="let type of this.classMenuService.MethodTypes" [value]="type">{{type}}</option>
              </select>
            </td>
            <td>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Nome" #nomeParam id="nomeParam">
                <span class="input-group-btn">
                  <button class="btn btn-warning" type="button" (click)="addParam(tipiParam.value, nomeParam.value)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-warning" [disabled]="this.classMenuService.isMethodAddable()"
    (click)="addMetodo(nomeMetodo.value, staticMet.checked, constructor.checked, tipiMetodo.value, accessoMetodo.value)">
    Aggiungi Metodo
  </button>
  <!-- fine -->
</div>
</div>
