.menu {
  background-color: dimgrey;
  /* border-left: 1px solid black;
  border-bottom: 1px solid black; */
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-top: none;
  color: darkorange;
}

.nomeMetodo {
  color: #FFFFFF;
  display: inline-block;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

select {
  color: #333;
}

input {
  color: #333;
}

table {
  color: #333;
}

.table {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 10px 10px 10px;
}

.upRow {
  padding-bottom: 5px;
}

.btnGenera {
  margin-top: 10px;
}

.back {
  margin-top: 15px;
  margin-bottom:15px;
}

.textInput {
  margin: 10px;
}

ul {
  padding: 5px;
  margin-bottom: 0px;
}

.delete {
  display: inline-block;
}

.delete button {
  width: 20px;
  height: 20px;
  padding: 0;
  /* float: right; */
  margin-left: 20px;
  margin-right: 20px;
}
