.menu {
  background-color: dimgrey;
  /* border-left: 1px solid black;
  border-bottom: 1px solid black; */
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-top: none;
  color: darkorange;
}

.nomeMetodo {
  color: #ffce2b;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

select {
  color: #333;
}

input {
  color: #333;
}

table {
  color: #333;
}

.table {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 10px 10px 10px;
}

.upRow {
  padding-bottom: 5px;
}

.btnGenera {
  margin-top: 10px;
}

.back {
  margin-bottom:5px;
}

.textInput {
  margin: 10px;
}
