<div [hidden]="selemetedMethod" class="container-fluid menu">
	<div class="row selezionato">
		{{ this.activityService.getNameMethod() }}
	</div>
	<div class="row">
		Modifica nome metodo:
		<input #newName id="newName" >
		<button class="btn btn-default" (click)="this.changeName(newName.value)">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
	</div>
	<!-- OPERAZIONE -->
	<div [hidden]="!this.activityService.isOperation()">
		<div class="container-fluid" [hidden]="this.activityService.isVarDeclaration()">
			<div class="row">
				<label>Corpo operazione</label>
				<input #corpo id="changeName" (keyup.enter)="modBody(corpo.value)">
				<button class="btn btn-default" (click)="modBody(corpo.value)">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
			</div>
		</div>
	</div>
	<!-- VARIABILE -->
	<div [hidden]="!this.activityService.isVarDeclaration()">
		<div class="container-fluid">
			<h3>Dichiarazione variabile</h3>
			<div>
				<label>Seleziona tipo</label>
				<select [(ngModel)]="tipoVar">
          <option *ngFor="let t of types">{{t}}</option>
        </select>
			</div>
			<div class="row">
				<label>Nome variabile</label>
				<input #nomeV id="nameVar" [(ngModel)]="nomeVar" (keyup.enter)="declareVar()"><br />
				<div [hidden]="this.tipoVar != 'String'">
					<label>Valore</label>
					<input #valoreV id="valVar" type="text" [(ngModel)]="valVar" (keyup.enter)="declareVar()">
				</div>
				<div [hidden]="this.tipoVar != 'char'">
					<label>Valore</label>
					<input #valoreV id="valChar" type="text" [(ngModel)]="valVar" maxlength="1" (keyup.enter)="declareVar()">
				</div>
				<div [hidden]="this.tipoVar != 'boolean'">
					<label>Valore</label>
					<select [(ngModel)]="valVar">
						<option value="true">true</option>
						<option value="false">false</option>
					</select>
				</div>
				<div [hidden]="!isNumeric()">
					<label>Valore</label>
					<input #valoreV id="valVar" type="number" [(ngModel)]="valVar" (keyup.enter)="declareVar()">
				</div>
				<button class="btn btn-default" (click)="declareVar()">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
			</div>
		</div>
	</div>
	<!-- DECISIONE -->
	<div [hidden]="!this.activityService.isDecision()">
		<div class="container-fluid">
			<div class="row">
				<label>Tipo decisione</label><br />
				<select [(ngModel)]="dec">
          <option *ngFor="let dec of decisions" [value]="dec">{{ dec }}</option>
        </select>
			</div>
			<!-- FOR -->
			<div [hidden]="dec != 'for'" class="row">
				<div	[hidden]="!this.activityService.hasBody()">
					<h4>for ( {{ this.activityService.getBody() }} )</h4>
				</div>
				<button class="btn btn-default" (click)="toggleModPro()">
					{{mod}}
				</button>
				<div [hidden]="modPro">
					<h4>Modalità Guidata</h4>
					<label>Nome indice</label>
					<input [(ngModel)]="nomeInd" /><br />
					<label>Valore iniziale indice</label>
					<input type="number" [(ngModel)]="valInd" /><br />
					<label>Operatore relazionale</label>
					<select [(ngModel)]="op">
						<option *ngFor="let op of operators" [value]="op">{{ op }}</option>
					</select><br />
					<label>Valore obiettivo indice</label>
					<input type="number" [(ngModel)]="maxInd" /><br />
				</div>
				<div [hidden]="!modPro">
					<h4>Modalità Libera</h4>
					<label>Scrivi corpo FOR</label>
					<input type="text" [(ngModel)]="nomeInd" /><br />
				</div>
				<span [hidden]="this.activityService.hasBody()"><button class="btn btn-default" (click)="generaFor()">
					Genera FOR
				</button></span>
				<span [hidden]="!this.activityService.hasBody()"><button class="btn btn-default" (click)="modificaFor()">
					Modifica FOR
				</button></span>
			</div>
			<!-- WHILE -->
			<div [hidden]="dec != 'while'" class="row">
				<div	[hidden]="!this.activityService.hasBody()">
					<h4>while ( {{ this.activityService.getBody() }} )</h4>
				</div>
				<button class="btn btn-default" (click)="toggleModPro()">
					{{mod}}
				</button>
				<div [hidden]="modPro">
					<h4>Modalità Guidata</h4>
					<label>Variabile</label>
					<select [(ngModel)]="va">
						<option *ngFor="let va of this.activityService.getVarVis()" [value]="va">{{ va }}</option>
					</select><br />
					<label>Operatore relazionale</label>
					<select [(ngModel)]="op">
						<option *ngFor="let op of operators">{{ op }}</option>
					</select><br />
					<label>Valore obiettivo</label>
					<input type="text" [(ngModel)]="operando" /><br />
				</div>
				<div [hidden]="!modPro">
					<h4>Modalità Libera</h4>
					<label>Scrivi corpo WHILE</label>
					<input type="text" [(ngModel)]="va" /><br />
				</div>
				<span [hidden]="this.activityService.hasBody()"><button class="btn btn-default" (click)="generaWhile()">
          Genera WHILE
				</button></span>
				<span [hidden]="!this.activityService.hasBody()"><button class="btn btn-default" (click)="modificaWhile()">
					Modifica WHILE
				</button></span>
			</div>
			<!-- IF -->
			<div [hidden]="dec != 'if'" class="row">
				<div	[hidden]="!this.activityService.hasBody()">
					<h4>if ( {{ this.activityService.getBody() }} )</h4>
				</div>
				<button class="btn btn-default" (click)="toggleModPro()">
					{{mod}}
				</button>
				<div [hidden]="modPro">
					<h4>Modalità Guidata</h4>
					<label>Variabile</label>
					<select [(ngModel)]="va">
						<option *ngFor="let va of this.activityService.getVarVis()" [value]="va">{{ va }}</option>
					</select><br />
					<label>Operatore relazionale</label>
					<select [(ngModel)]="op">
						<option *ngFor="let op of operators">{{ op }}</option>
					</select><br />
					<label>Valore obiettivo</label>
					<input type="text" [(ngModel)]="operando" /><br />
				</div>
				<div [hidden]="!modPro">
					<h4>Modalità Libera</h4>
					<label>Scrivi corpo IF</label>
					<input type="text" [(ngModel)]="va" /><br />
				</div>
				<span [hidden]="this.activityService.hasBody()"><button class="btn btn-default" (click)="generaIf()">
          Genera IF
				</button></span>
				<span [hidden]="!this.activityService.hasBody()"><button class="btn btn-default" (click)="modificaIf()">
					Modifica IF
				</button></span>
			</div>
		</div>
	</div>
	<div>
		<button class="btn btn-default" (click)="enterClassMode()">
      <span class="glyphicon glyphicon-arrow-left freccia"></span>
      Diagramma delle Classi</button>
	</div>
</div>
