<div class=".container-fluid barra-menu">
  <div class="row">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
      <div class="logoText">SWEDesigner</div>
    </div>
    <div class="menu btn">  <app-file></app-file>  </div>
    <div class="menu btn">  <app-progetto></app-progetto>  </div>
    <div class="menu btn">  <app-modifica></app-modifica>  </div>
    <div class="menu btn">  <app-template></app-template>  </div>
    <div class="menu btn">  <app-layer></app-layer>  </div>
    <div class="menu btn">  <app-profilo></app-profilo>  </div>

  </div>
</div>
