.btn {
  border: none;
  border-radius: 0;
  background-color: #42413D;
  color: #FFCE2B;
}

.btn:hover {
  background-color: none;
  border-color: #FFCE2B;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

ul {
  background-color: #42413D;
}

.dropdown-toggle {
 background-color: transparent;
 border-color: #42413D;
 border-style: solid;
 border-top: none;
 border-right: none;
 border-left: none;
}

.dropdown-toggle:active, .open .dropdown-toggle {
      background: #FFCE2B !important;
      color:#42413D !important;
      border-style: none;
  }

.dropdown-menu{
  background-color: #42413D;
}

.dropdown-menu>li>a{
  color: #FFCE2B;
}

.dropdown-menu>li>a:hover{
  background-color: #636363;
}

#upload {
  display: none;
}

#popup {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 98;
  background-color: rgba(153,153,153,0.4);
  cursor: default;
  text-align: center;
}
#blob {
  width: 25vw;
  background-color: dimgrey;
  color: darkorange;
  position: relative;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  z-index: 100;
}

#blob input {
  background-color: rgb(252,248,227);
  border-color: gold;
  color: black;
}

